*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: inherit}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html{
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
	--main-blond-color: #e3e7ac;
	--main-green-color: #00a400;
	--main-red-color: #dc143cff;
	--main-content-color: #ede8c9;
}
ul li {
	list-style: inherit;
}
body{
	background-color: var(--main-content-color);
}
p{
	font-size: 17px;
	line-height: 25px;
}
li{
	font-size: 17px;
}
.mb{
	margin-bottom: 15px;
}
.mt{
	margin-top: 15px;
}
.header{
	z-index: 1;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 50px;
	max-height: 100px;
	box-shadow: 0 0 5px 0 black;
	background-color: var(--main-blond-color);
}
.menu-nav{
	margin: 0 auto;
}
.menu-nav ul li{
	list-style: none;
}
.header ul{
	display: flex;
	flex-direction: row;
}
.logo{
	margin-left: 75px;

}
.idle-menu{
	transition-property: all;
	transition: 0.4s;
	margin-right: 20px;
	font-size: 16px;
}
.idle-menu:hover{
	color: var(--main-green-color);
	transform: scale(1.1);
	transition: 0.4s;
}
.logo img{
	width: 45px;
}
.content{
	height: 100%;
	width: 85%;
	padding: 0 0;
	margin: 0 auto;
	background: var(--main-content-color);
}
.reference{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: 3px 3px 3px 3px gray;
	border-radius: 5px;
	margin: 60px auto;
	padding: 20px 40px;
	background-color: var(--main-blond-color);
	width: 70%;
}
.reference-chapter-one h2{
	color: var(--main-green-color);
}
.reference-chapter-one ul li::marker {
    color: var(--main-green-color);
    font-size: 0.9em;
}
.reference-chapter-two h2{
	color: var(--main-red-color);
}
.reference-chapter-two ul li::marker {
    color: var(--main-red-color);
    font-size: 0.9em;
}
.h2-refer{
	font-size: 20px;
	font-weight: 500;
}
.ul-refer{
	margin: 40px 22px;
}
.ul-refer li{
	margin-bottom: 10px;
}
.card__objects{
	display: flex;
	flex-direction: row;
}
.card{
	transition-property: all;
	transition: 1s;
	margin: 30px auto;
	height: 210px;
	width: 235px;
	box-shadow: 3px 3px 3px 1px gray;
	border-radius: 10px;
	background-color: #e0d4a6;
}
.card:hover{
	box-shadow: 3px 3px 3px 2px var(--main-green-color);
	transform: translateY(-10%);
	transition: 0.3s;
}
.card__header{
	height: 35%;
	width: 100%;
	text-align: center;
	padding: 10px 0 0 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #fef2be;
}
.card__footer{
	height: 65%;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #c45b5b;
}